.row{
    text-align: center;
    margin-left: 15%;
}
.card1{
    background-image: url("./assets/API\ Project.png");
    background-size: cover;
    color:red;
}
.card2{
    background-image: url("./assets/static\ webpage.png");
    background-size: cover;
    color:red;
}
.card3{
    background-image: url("./assets/CSS\ CREATURE.png");
    background-size: cover;
    color: red;
}
.card4{
    background-color: blue;
}
.card5{
    background-color: red;
}